.createWalletWrapper {
  max-width: 55rem;
  flex-basis: 100%;
  text-align: center;

  h3 {
    margin-bottom: 4rem;
  }
  
  p {
    margin-bottom: 5rem;
  }
}

.logo {
  margin-bottom: 15%;
}

.ctaBtn {
  display: block;
  width: 100%;
}