@import './CommonToast.module.scss';

.toast {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}

.toastList {
  @extend .flexEnd;

  > div {
    position: absolute;
    bottom: 0;
    right: 1rem;
    margin-bottom: 1rem;
  }
}
