
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterBaseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flexCenterCol {
  @extend .flexCenter;
  flex-direction: column;
}

.enterAmountDialog {
  width: 468px;
  border-radius: 12px;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.subTitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000;
  margin-top: 62px;
  margin-bottom: 16px;
}

.sendValue {
  @extend .flexCenter;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: rgb(30, 30, 30);
}

.coinSymbol {
  font-weight: 400;
  font-size: 14px;
  color: rgb(30, 30, 30);
  margin-left: 5px;
}

.sendAmount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgb(30, 30, 30);
  margin-top: 21px;
}

.divider {
  width: 280px;
  height: 2px;
  background: linear-gradient(
  39.18deg,
  #03c17d 21.01%,
  #97e81c 139.72%
);;
  border-bottom: 0;
}

.verticalDivider {
  width: 2px;
  height: 30px;
  margin: 0 5px;
  background: linear-gradient(
  39.18deg,
  #03c17d 21.01%,
  #97e81c 139.72%
);;
}

.availableBalanceContainer {
  @extend .flexCenterCol;
  margin: 20px 0;
  padding: 16px 0;
  width: 200px;
  background-color: #f1f0f6;
}

.balanceTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgb(30, 30, 30);
}

.balanceValue {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgb(30, 30, 30);
}

.secondaryButton {
  min-width: 64px;
  height: 32px;
  margin-left: 20px;
}

.errorMessage {
  color: red;
}
