// Screens with content and slider columns (like init-options)
$contentColWidth: 66.8vw;
$sliderColWidth: 33.2vw;
$vMargin16px: 1.56vh;
$vMargin24px: 2.34vh;
$vMargin32px: 3.6vh;
$vMargin48px: 4.7vh;
$topMargin: 3.7vh;
$pinDigitMarginH: 0.9vw;
$bottomMargin: 4.38vh;
$boardingSliderWidth: 28vw;

@function getFontSize($size) {
  @if $size == 16 {
    @return calc((1.56vh + 1.11vw) / 2);
  }
  @if $size == 24 {
    @return calc((2.34vh + 1.67vw) / 2);
  }
}
