.initialPagesTitle {
  margin-bottom: $vMargin32px;
  text-align: center;
  font-size: 40px;
}

.initialPagesSubTitle {
  width: 25vw;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: $secondaryGray;
}
